*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: 0 auto
}
.flex-content{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
nav ul{
    list-style: none;
}
li a{
    text-decoration: none;
    margin: 0 10px;
    color: white;
    padding: 10px 0;
}
/*header*/
header{
    background-color: rgb(255, 94, 31);
    padding: 8px;
}
.logo img{
    width: 100px;
    color: white;
}
.user a{
    color: white;
    padding: 10px 0;
}
.user i{
    margin: 2px;
}
/*main*/
.banner{
    display: inline-block;
    position: relative;
    bottom: 70px;
}
.sustainability{
    background-color: green;
    padding: 5px;
    color: white;
}
.reduction{
    background-color: red;
    padding: 5px;
    color: white;
}
.card{
    position: relative;
    margin: 10px;
    width: calc(100% / 3);
}
.card img{
    width: 100%; 
}
.heart{
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;
}
.card:hover .heart{
    color: red;
}
.discount{
    color: red;
}
.price{
    text-decoration: line-through;
}